* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;
  color: rgb(80, 78, 78);
  background-color: #f1f3f5;
  min-height: 100vh;
  position: relative;
  /* background-image: linear-gradient(#f1f3f5, #ced4da); */
  background-image: linear-gradient(#f8f9fa, #fff);
}

.heading-login {
  max-width: 60rem;
  padding: 1.8rem;
  background-image: linear-gradient(to right, #22b8cf, #1971c2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.section-form {
  background-color: #e7f5ff;
  width: 50rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.4rem 3.2rem 2.8rem 3.2rem;
  border: 1px solid rgb(103, 97, 97);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(139, 136, 136, 0.4);
}

/* .section-form::after {
  content: "";
  display: block;
  padding-bottom: 60%;
  width: 60%;
  background-color: rgba(182, 222, 232, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -999;
  border: 1px solid rgb(182, 222, 232);
} */

.form-title {
  margin-bottom: 3.8rem;
  font-size: 2.2rem;
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input label {
  margin-left: 5px;
  font-family: inherit;
  font-weight: bolder;
}

.form-input input {
  margin-right: 10px;
  width: 32rem;
  height: 2.5rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1.5px solid transparent;
  border-radius: 5px;
}

.form-input input:focus {
  box-shadow: 0 0 0 0.6rem rgba(182, 222, 232, 0.7);
  outline: none;
}

.form-input input:invalid {
  border: 1.5px solid rgba(255, 168, 168, 0.7);
  outline: none;
}

.form-input input:valid {
  border: 1.5px solid rgba(168, 229, 255, 0.8);
  outline: none;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
}

.btn-login {
  font-size: 1.6rem;
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(243, 243, 243);
  font-family: inherit;
  font-size: 18px;
  border-radius: 3px;
  transition: all 0.2s;
  border: none;
  box-shadow: 0 1px 3px rgba(77, 77, 77, 0.669);
}

.btn-login:hover {
  background-color: #e7e8e9;
  transform: translateY(-0.3px);
  transform: scale(1.01);
  box-shadow: 0 3px 6px rgba(189, 189, 189, 0.45);
}

.btn-login:active {
  transform: translateY(0px);
  transform: scale(1);
  background-color: rgb(243, 243, 243);
  box-shadow: 0 1px 3px rgba(189, 189, 189, 0.65);
}

.login-message {
  width: 49rem;
  padding: 2.4rem 2.4rem 2.4rem 3.2rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #111;
}

.red {
  background-color: #ff8787;
}
.blue {
  background-color: #96f2d7;
}
